.post-container{
    width: 370px;
}

.single-post{
    width: 370px;
    border: 2px gray solid;
    margin-top: 10px;
}

.header{
    border: 2px gray solid;
}

.header-image, .header-name, .header-time{
    margin: 5px;
}

.footer{
    border: 2px grey solid;
}

.post-content{
    width: 100%;
    flex-wrap: wrap;
}
.single-post section{
    width: 100%;
}

.content-crud{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.delete, .edit, .comment, .like{
    cursor: pointer;
}

.content-crud .delete{
    color: red;
}

.content-crud .edit{
    color: blue;
}