@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::after,
*::after {
  box-sizing: border-box;
}

body {
  box-sizing: border-box;
  margin: 0;
  height: 100vh;
  background: #ecf0f3;
  position: relative;
  overflow-x: hidden;
}

.link {
  text-decoration: none;
  font-weight: 600;
  font-size: 16px;
  color: #1da1f2;
}

.App {
  height: 100vh;
}
